* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/*class something in html as "clearfix"*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
    width: 100%;
    font-family: Alegreya, sans-serif;
}


/*first section-main */

nav {
    width: 98%;
    padding: 2% 1%;
}

nav li {
    display: inline-block;
    color: #2E2E2E;
}

nav ul {
    float: right;
}

h1 {
    color: #1C1C1C;
    font-size: 700;
}

nav a {
    color: #6E6E6E;
    text-decoration: none;
    font-size: .75em;
    padding: 5px;
}

nav a:hover {
    color: lightcoral;
}

main {
    background-image: url(../img/main.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

main p {
    padding: 30px;
    line-height: 25px;
}

main div {
    background-color: rgba(0, 0, 0, .5);
    padding: 180px;
}

main a {
    border: 1px solid #F08080;
    background-color: #F08080;
    color: black;
    text-decoration: none;
    padding: 10px;
}


/*Second Section-twoboxes*/

.twoboxes {
    padding: 30px;
    margin-bottom: 20px;
    width: 100%;
}

.rightbox p {
    float: left;
    padding-left: 30px;
    text-align: center;
    padding-top: 45px;
    color: #6E6E6E;
    line-height: 20px;
    width: 60%;
    margin-left: 5%
}

.rightbox h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    color: lightcoral;
    padding-top: 20px;
}

.leftbox {
    float: left;
    margin-left: 30px;
    width: 30%;
}


/*Third  Section-fourboxes*/

.fourboxes {
    float: left;
    width: 100%;
    background-color: #FAF4F4;
    margin: 15px 0px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.box {
    width: 20%;
    display: inline-block;
    text-align: center;
    margin: 2%;
    color: gray;
    font-size: 70%;
}

.box >h2 {
    padding-top: 10px;
    padding-bottom: 10px;
}


/*fourth section*/

.featurebox {
    width: 50%;
    display: inline-block;
    text-align: center;
    float: left;
}

.quote {
    width: 50%;
    text-align: center;
    margin-left: 160px;
    line-height: 19px;
    padding-bottom: 10px;
}

.shop {
    margin-left: 20px;
    border: 1px solid lightcoral;
    background-color: lightcoral;
    color: white;
    text-decoration: none;
    padding: 5px;
}


/*last section*/

.lastbox {
    background-image: url(../img/subscriptionimage.jpg);
    text-align: center;
    color: white;
    width: 100%;
    height: 350px;
    margin-top: 30px;
    margin-bottom: 20px;
}

footer > div {
    background-color: rgba(0, 0, 0, .8);
    padding: 94px;
}

.lastbox p {
    line-height: 45px;
    font-size: 25px;
    margin-bottom: 5%;
}

.lastbox a {
    border: 1px solid white;
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-transform: uppercase;
}