/*
.my_image {
-webkit-filter: blur(10px);
   float:left;
   -webkit-filter:grayscale(50%);
    width:80%;
    overflow:hidden;
}



#text { 
  z-index: 100;
  position: absolute;
  color: white; 
  font-size: 60px;
  font-weight: bold;
  left: 350px;
  top: 200px;
}
*/

.my_image:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  background-image: url(../img/portfolio-background.jpg);
  width:1200px;
   
  height: 630px;
    margin-left: 240px;
    margin-top: -10px;
    margin-right: -10px;
  
  -webkit-filter: blur(10px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.my_image1 {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 10;
  margin-left:450px;
    margin-top:280px;
    color:white;
    border: 5px solid #000033;
    padding: 15px;
    background: #000033;
    margin-right:150px;
    
}

a {
    color: white;
    font-size: 16px;
    font-style:bold;
    
}

a:hover,
a:focus,
a:active,
a.active {
    color: #4F5F82;
}

#wrapper {
   
/*    height: 630px;  */
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
    line-height: 35px;
    color: white;
  width: 20%;
    background: #000033;
    float:left;
/*    overflow-y: auto;*/
    z-index: 1000;
    transition: all 0.4s ease 0s;
}



.sidebar-nav {
    /* position: absolute; */
    top: 0;
    /* width: 100%; */
    list-style: none;
    margin: 0;
    padding: 0;
}



.my_footer {
    padding-top: 230px;
    
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}



/* about section */
.featurette {
  padding: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
margin-top: -50px;
/*    Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */

.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.modal-open .modal {
 background: white;
width: 70%;
    margin-left: 330px;
}

.btn-info {
    color: #333;
    background-color: transparent;
    border-color: transparent;
}

.btn-info:hover {
    color: black;
    background-color: #fff;
    border-color: #fff;
    
}

.btn-info:click {
    background-color: #fff;
}

.my_closebutton {
    color: black;
    opacity: 1;
    
}

img {
   
    clear:both;
    padding: 50px;
}

/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
