* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
    font-family: 'Open Sans', sans-serif;
}

nav {
    width: 98%;
    padding: 2% 1%;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    float: left;
}

nav li {
    display: inline-block;
}

nav ul {
    float: right;
}

nav a {
    color: #2f2f2f;
    text-decoration: none;
    margin-left: 5px;
    font-size: .75em;
}

h1 {
    font-size: 25px;
    font-weight: 600;
    float: left;
}

main {
    background-image: url(../img/main1.jpg);
    background-size: cover;
    text-align: center;
    color: white;
}

main > div {
    background-color: rgba(0, 0, 0, .8);
    padding: 200px 0;
}

.largeheading {
    padding: 5%;
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
}

.topheader {
    padding-top: 60px;
}

.two_boxes {
    width: 100%;
    padding: 0 2%;
    text-align: center;
}

.two_boxes div {
    float: left;
    padding: 50px;
}

.two_boxes div:first-child {
    width: 55%;
    padding: 2.5%;
}

.two_boxes div:nth-child(2) {
    width: 40%;
    float: left;
}

.two_boxes img {
    width: 70%;
}

.thirdsection {
    background-image: url(../img/main1.jpg);
    background-size: cover;
    text-align: center;
}

.thirdsection > div {
    height: 350px;
    color: white;
    background-color: rgba(0, 0, 0, .8);
    padding: 50px 0;
}

.shop {
    float: left;
}