* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* * {
    outline: 1px solid purple;
}
*/


/*class something in html as "clearfix"
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}*/

body {
    font-family: Helvetica, sans-serif;
    color: #585858;
    width: auto;
    margin-left: 100px;
    line-height: 15px;
}

.header {
    text-align: center;
    width: 400px;
    padding: 15px;
    line-height: 15px;
    margin-left: 200px;
}

.header p {
    padding-top: 10px;
}

div p {
    font-size: 10px;
}

#topcontainer {
    width: 780px;
    height: 400px;
}

#left {
    border: 1px solid black;
    float: left;
    width: 350px;
    height: 300px;
    padding-right: 5px;
}

#right {
    float: right;
    height: 300px;
    width: 320px;
    padding: 5px;
}

.img {
    width: 340px;
    height: 240px;
    padding-bottom: 20px;
}

.img1 {
    width: 90px;
    height: 50px;
}

.left1 {
    height: 90px;
    width: 350px;
}

#right > .left1 {
    padding: 10px;
}

li {
    font-size: 10px;
    text-decoration: none;
}

#bottomcontainer {
    border: 1px solid #e3e3e3;
    display: inline-block;
    width: 780px;
    height: 400px;
}

#bottomcontainer div {
    float: left;
    width: 250px;
}

&#9989