* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* * {
    outline: 1px solid purple;
}
*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

body {
    font-family: Helvetica, sans-serif;
    color: #585858;
    width: auto;
    line-height: 15px;
    margin: 0 auto;
}

.header {
    text-align: center;
    width: 690px;
    padding: 15px;
    line-height: 15px;
    margin: 0 auto;
}

.header p {
    padding-top: 10px;
}

div p {
    font-size: 10px;
}

#topcontainer {
    width: 690px;
    height: 300px;
    margin: 0 auto;
}

#left {
    float: left;
    padding: 10px;
    margin: 0 auto;
    width: 330px;
    height: 280px;
}

a {
    text-decoration: none;
    color: darkseagreen;
    font-size: 11px;
    float: right;
}

h3 {
    padding: 10px;
    font-size: 14px
}

#right {
    float: right;
    width: 330px;
    height: 280px;
}

.margin {
    margin-top: 10px;
    margin-bottom: 10px;
}

.greybackground {
    background-color: #e6e6e6;
}

.image {
    width: 100%;
}

.img1 {
    width: 90px;
    height: 70px;
    float: left;
    margin-right: 5px;
}

.left1 {
    height: 90px;
    width: 350px;
}

#right > .left1 {
    padding: 10px;
}

li {
    font-size: 10px;
    list-style: none;
}

#bottomcontainer {
    width: 690px;
    height: 150px;
    border-top: 2px solid #e3e3e3;
    border-bottom: 2px solid #e3e3e3;
    margin: 0 auto;
}

#bottomcontainer div {
    float: left;
    width: 200px;
    border-right: 2px solid #e3e3e3;
    padding: 15px 5px 15px 15px;
}